{%load static %}
<script src="{% static 'show_seat_show_bot_ratings.js' %}"></script>
<div><input type="button" onclick="unhide(this, 'bot_ratings')" value="Show Bot Ratings"></div>

<div id="bot_ratings" class="hidden">
    <table>
        <tr>
            {% for column_name in bot_ratings_column_names %}
                <th>{{ column_name }}</th>
            {% endfor %}
        </tr>
        {% for row in bot_ratings_table %}
            <tr>
                {% for value in row %}
                    <td>{{ value }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</div>
