.hidden {
    display:none;
}

table, th, td {
  border: 1px solid black;
}

.unhidden{
    display:block;
}

.card {
  width: 146px;
  height: 204px;
}

.card:hover {
  transform: scale(2) translate(20%, 10%) ;
  transition-delay: 0.5s;
}

input[type="button"] {
  -webkit-appearance: none;
}

button {
  -webkit-appearance: none;
}
